.aboutus {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 10%;
  gap: 60px;
  flex-wrap: wrap;
}

.imagesec img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.abouttitle {
  max-width: 600px;
}

.abouttitle h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #222;
}

.abouttitle h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #444;
}

.abouttitle h4 {
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: #666;
}

.abouttitle p {
  line-height: 1.7;
  margin-bottom: 20px;
  color: #555;
}

.about-btn {
  padding: 12px 25px;
  border: none;
  background: green;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease;
}

.about-btn:hover {
  background: rgb(68, 139, 68);
}
/* Mission Section */
.mission-section {
  display: flex;
  gap: 40px;
  padding: 60px 10%;
  background: #f9f9f9;
  flex-wrap: wrap;
}

.mission-box {
  flex: 1;
  min-width: 300px;
}

.mission-box h2 {
  margin-bottom: 15px;
  font-size: 1.8rem;
}

.mission-box p {
  line-height: 1.7;
  color: #555;
}

/* Why Choose Us */
.why-choose {
  padding: 80px 10%;
  text-align: center;
}

.why-choose h2 {
  margin-bottom: 40px;
  font-size: 2rem;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.why-card {
  padding: 25px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.why-card:hover {
  transform: translateY(-8px);
}
@media (max-width: 768px) {
  .aboutus {
    flex-direction: column;
    text-align: center;
  }
}
